/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 香水電商 */

*,*:before,*:after{ 
	box-sizing: border-box;
}

img {
	height: auto;
	max-width: 100%;
}


a {
	text-decoration: none;
}

a:hover {
	color: #000;
	position: relative;
	top: 1px;
	left: 1px;
}

h3 {
	font-size: 32px;
	line-height: 48px;
	font-weight:700;
}

p {
	font-size: 20px;
	line-height: 30px;
	width: 350px;
}


.container {
	max-width:1920px;
	margin: 0 auto;
}

.header {
	
	.top{
		height: 56px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.menu {
			height: 56px;
			display: flex;
			align-items: center;
			text-align:center;
			
      & li {
        padding-left: 32px;
      }

			& a{
				color: #8D8D8D;
			}
		}
	}

  .banner {
		max-width: 100%;
		position: relative;

		.index1{
		height: auto;
		width: 100%;
		position: absolute;
		z-index:1;
		}

		.slogan {
			
			& h2 {
				font-size: 40px;
				font-weight: 700;
				color: #fff;
				position: absolute;				
				left: 1070px;
				top: 351px;
				z-index: 3;
			}

			& p	{
				font-size: 24px;
				color: #fff;
				position: absolute;				
				left: 1070px;
				top: 411px;
				z-index: 3;
				width: 445px;
				line-height: 36px;
			}
			
			.shop-now {
				display: block;
				font-size: 28px;
				color: #fff;
				position: absolute;				
				left: 1070px;
				top: 571px;
				z-index: 3;
				width: 445px;
				text-align: center;
				border: 1px #fff solid;
				border-radius: 30px;
				padding: 13px 0;

			}
		}
	}
}


.Gabrielle, .Five, .CHANEL, .info {
  margin: 0 auto;
	display: flex;

  & img {
		width: 555px;
		height: 555px;
	}

}




@media(max-width:767px){

}