/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 商品頁 */

*,*:before,*:after{ 
	box-sizing: border-box;
}

img {
	height: auto;
	max-width: 100%;
	object-fit: fill;
	display: block;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000;
	position: relative;
	top: 1px;
	left: 1px;
}

h3 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 600;
}

.container {
	max-width:1920px;
	margin: 0 auto;
}

.header {
	
	.top{
		height: 56px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:0 21%;

		.menu {
			height: 56px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			text-align:center;
			
			& a{
				margin-left: 32px;
				color: #8D8D8D;
				fill:#8D8D8D;
			}
		}
	}
	.brand-list {
		width: 100%;
		background-color: #916019;
		display: flex;
		padding: 14px 21%;
		margin:0 auto;

		& a {
			color: #fff;
			margin-right: 28px;
			font-size: 20px;
			line-height: 30px;
		}
	}
}

.content {
	padding: 80px 21% 40px 21%;


	.product {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.card {
			margin-bottom: 58px;
		}

		.product-pic {
			height: 255px;
			width: 255px;
		}

		& p {
			font-size: 16px;
			line-height: 24px;
		}

		& span {
			font-size: 16px;
			line-height: 24px;
		}

		.sale {
			color: #8D8D8D;
			margin-left: 8px;
			text-decoration: line-through;
		}

		.icon {
			display: flex;
			& a{
				fill: #916019;
				
			}
			.heart {
				margin-right: 10px;
			}
		}
	}

	.page {
		padding: 20px 0 60px 0;
		display: flex;
		justify-content: center;
		
		& a{
			padding: 0 10px;
			color: #000;
			font-size: 20px;
			line-height: 30px;
		}

		& a:hover{
			color:#AC8A46;
			text-decoration: underline;
		}
	}
}

.footer {
	
	.Subscribe {
		position: relative;
		& img {
			width: 1920px;
			height: 600px;
		}
		.remember {
			position: absolute;
			top: 312px;
			left: 405px;

			& p {
				color: #8D8D8D;
				font-size: 32px;
				line-height: 48px;
			}
		}
		.email {
			display: flex;
			
			& p {
				font-size: 16px;
			}

			.add {
				position: absolute;
				top: 428px;
				left: 405px;
				display: block;
				padding: 20px 65px 20px 16px;
				background-color: #fff;
				border: 1px #916000 solid;
				color: #8D8D8D;
				z-index: 2;
			}
			.button {
				position: absolute;
				top: 428px;
				left: 624px;
				display: block;
				padding: 21px 26px 21px 27px;
				background-color: #916000;
				color: #fff;
				z-index: 3;
				width:131px;
			}
		}
	}

	.footer-info {
		height: 80px;
		background-color: #916000;
		color:#fff;
		padding: 0 405px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.footer-logo {
			display: flex;
			align-items: center;

			& p {
				font-size: 14px;
				line-height: 21px;
				margin-left: 20px;
			}
			& img {
				width: 128px;
				height: 38px;
			}
		}

		.footer-menu {
			& a{
				margin-left: 36px;
				font-size: 20px;
				line-height: 30px;
				color: #fff;
			}
		}
	}
}

.Cart, .bars {
	display: none;
}



@media(max-width:375px){
	.Cart, .bars {
		display:block;
		fill:#8D8D8D;
	}

	.top{
		padding:0 15px;
	}

	.menu-icon {
		display: none;
	}
	.brand-list {
		display:none;
	}

	.content{
		padding:42px 15px 40px 15px;
	}
	.card {
		width:45%;
	}

	h3 {
		font-size: 20px;
		font-weight: 30px;
	}

	.Subscribe {
		position: relative;
		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 0;
		}
		.remember {
			position: absolute;
			padding:315px 15px 192px 15px;
			z-index: 1;
			& p {
				color: #8D8D8D;
				font-size: 32px;
				line-height: 48px;
			}
		}
		.email {
			display: flex;
			padding:428px 16px 112px 14px;
			position: relative;
			
			& p {
				font-size: 16px;
			}

			.add {
				position: absolute;
				display: block;
				padding: 21px 56px 20px 16px;
				background-color: #fff;
				border: 1px #916000 solid;
				color: #8D8D8D;
				z-index: 2;
			}
			.button {
			  position: absolute;
				left:231px;
				display: block;
				padding: 21px 23px 20px 27px;
				background-color: #916000;
				color: #fff;
				z-index: 3;
				width:131px;
			}
	  }
	}
	.footer-menu {
		display: none;
	}
	
}