/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 香水電商 */

*,*:before,*:after{ 
	box-sizing: border-box;
}

img {
	height: auto;
	max-width: 100%;
	object-fit: fill;
	display: block;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000;
	position: relative;
	top: 1px;
	left: 1px;
}

h3 {
	font-size: 32px;
	line-height: 48px;
	font-weight:700;
}

p {
	font-size: 20px;
	line-height: 30px;
	width: 350px;
}

.container {
	max-width:1920px;
	margin: 0 auto;
}

.header {
	
	.top{
		height: 56px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.menu {
			height: 56px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			text-align:center;
			
			& a{
				margin-left: 32px;
				color: #8D8D8D;
				fill:#8D8D8D;
			}
		}
	}

	.banner {
		height: 870px;
		max-width: 1920px;
		background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true) center/cover no-repeat;
		

		.slogan {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 295px 405px 295px 1070px;
			
			& h2 {
				font-size: 40px;
				font-weight: 700;
				line-height: 60px;
				color: #fff;
				z-index: 3;
			}

			& p	{
				font-size: 24px;
				color: #fff;
				/* z-index: 3; */
				width: 100%;
				line-height: 36px;
				margin-bottom: 16px;
			}
			
			.shop-now {
				display: block;
				font-size: 28px;
				color: #fff;
				/* z-index: 3; */
				/* width: 445px; */
				text-align: center;
				border: 1px #fff solid;
				border-radius: 30px;
				padding: 13px 109px;

			}
		}
	}
}

.Gabrielle, .Five, .CHANEL, .info {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 1110px;


	& img {
		width:50%;
	}
}


.content {
	padding: 60px 0;
	.text {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 110px;
	}

	.more {
		color: #ac8a46;
		line-height: 24px;
		margin-top: 16px;
	}

	.product-1 {
		width: 555px;
		height: 1080px;
	}

	.subtitle {
		font-size: 24px;
		font-weight: 600;
		line-height: 36px;
	}

	.detail {
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		padding-top: 4px;
	}

	.first, .second, .third {
		padding-bottom: 52px;
	}

	.plan {
		font-size: 20px;
		line-height: 30px;
		width: 350px;
		text-align: center;
		border: 1px #000 solid;
		border-radius: 30px;
		padding: 13px 0;

		& a {
			display: block;
			color: #000;
		}
	}

	.else {
		padding: 40px 0;
		background-color: #E0E0E0;
		margin: 60px 0;
		height: auto;
		width:100%;

		.else-item {
			margin: 0 auto;
			display: flex;
			justify-content: center;
		}

		.Body-Wash {
			margin:0 20px;
		}

		.else-pic {
			width: 350px;
			height:540px;
			margin-bottom: 8px;
		}

		.brand {
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			margin-bottom: 16px;
		}
		
		.price {
			display: flex;
		}

		& span {
			font-size: 20px;
			line-height: 30px;
		}
		.sale {
			color: #8D8D8D;
			margin-left: 8px;
			text-decoration: line-through;
		}
	}

	.recycle {
		max-width: 1100px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		.empty img {
			width: 730px;
			height: 520px;
		}
		.recycling {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin: 0 auto;
			padding-left: 30px;

			& p {
				margin-bottom: 16px;
			}	
		}
	}

}

.footer {
	
	.Subscribe {
		position: relative;
		width: 100%;
		height: 600px;
		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
		}
		.remember {
			padding: 312px 1065px 192px 405px;
			position: absolute;
			z-index: 2;

			& p {
				color: #8D8D8D;
				font-size: 32px;
				line-height: 48px;
			}
		}
		.email {
			display: flex;
			padding:428px 1065px 112px 405px;
			& p {
				font-size: 16px;
			}

			.add {
				position: absolute;
				display: block;
				padding: 21px 57px 20px 16px;
				background-color: #fff;
				border: 1px #916000 solid;
				color: #8D8D8D;
				z-index: 2;
			}
			.button {
				position: absolute;
				left: 624px;
				display: block;
				padding: 21px 26px 21px 27px;
				background-color: #916000;
				color: #fff;
				z-index: 3;
				width:131px;
			}
		}
	}

	.footer-info {
		width:100%;
		height: 80px;
		background-color: #916000;
		color:#fff;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.footer-logo {
			display: flex;
			justify-content: space-around;
			align-items: center;

			& p {
				font-size: 14px;
				line-height: 21px;
				margin-left: 20px;
			}
			& img {
				width: 128px;
				height: 38px;
			}
		}

		.footer-menu {
			& a{
				margin-left: 36px;
				font-size: 20px;
				line-height: 30px;
				color: #fff;
			}
			
		}
		
	}
}



.cover {
	position: relative;
	width:100%;
	height:100%;

	.shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity:0.3;
		top:0;
		left:0;
		z-index: 1;
		margin-bottom:8px;
	}
	& span {
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		z-index: 2;
		color: #fff;
		font-size: 24px;
		line-height: 36px;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.Cart, .bars {
	display: none;
}


@media(max-width:375px){
	.Cart, .bars {
		display:block;
		fill:#8D8D8D;
	}

	.menu-icon{
		display: none;
	}

	.banner {
		max-width: 100%;
		height: 480px;
		position: relative;	
	}

	.index1 img {
		max-width: 100%;
		height: 480px;
		position: absolute;	
		margin:0;
		z-index: 1;
	}

	.slogan {
		padding: 101px 15px 135px 15px;
		/* 關掉網頁版 padding 就會正常 */
		max-width: 100%;
		height: auto;
	}

	.slogan h2 {
		font-size: 32px;
		line-height: 48px;
		color: #fff;
		z-index: 3;
	}

	.slogan p {
		font-size: 24px;
		color: #fff;
		z-index: 3;
		line-height: 36px;
	}
	
	.shop-now{
		display: block;
		font-size: 28px;
		color: #fff;
		z-index: 3;
		width: 100%;
		text-align: center;
		border: 1px #fff solid;
		border-radius: 30px;
		padding: 13px 0;
	}

	.Gabrielle, .Five, .CHANEL, .info, .else, .recycle {
		flex-direction: column;
		flex-wrap: wrap;
		.text {
			padding: 8px 15px 32px 15px;
		}
		.product{
			width: 90%;
		}
	}
	.Gabrielle, .Five, .CHANEL, .info, .recycle {
		padding: 0 15px;
	}
	.Gabrielle, .CHANEL {
		flex-direction: column-reverse;
	}

	.else {
		flex-wrap: wrap;
		padding: 40px 15px;
	}

	.Subscribe {
		position: relative;
		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 0;
		}
		.remember {
			position: absolute;
			padding:315px 15px 192px 15px;
			z-index: 1;
			& p {
				color: #8D8D8D;
				font-size: 32px;
				line-height: 48px;
				
			}
		}
		.email {
			display: flex;
			padding:428px 16px 112px 14px;
			position: relative;
			
			& p {
				font-size: 16px;
			}

			.add {
				position: absolute;
				display: block;
				padding: 21px 56px 20px 16px;
				background-color: #fff;
				border: 1px #916000 solid;
				color: #8D8D8D;
				z-index: 2;
			}
			.button {
			  position: absolute;
				left:231px;
				display: block;
				padding: 21px 23px 20px 27px;
				background-color: #916000;
				color: #fff;
				z-index: 3;
				width:131px;
			}
	  }
	}

	.else-item{
		flex-wrap: wrap;
	}

	.price {
		margin-bottom: 32px;
	}
	.Body-Wash {
		margin: 0;
	}

	.footer-menu {
		display: none;
	}
}
